@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code{
    protected override async void OnInitialized()
    {
        var test = await Khaled.Backend.APIs.OfferAPI.GetOffers(0, 10);
        base.OnInitialized();
    }
}
